 <footer class="container-fluid bg-dark text-light py-4">
      <div class="container">
        <div class="row mt-4">
          <div class="col-12">
            <ul
              class="list-unstyled mb-0 d-flex flex-wrap justify-content-center justify-content-md-between text-center"
            >
              <li class="mx-2 text-center">
                <a href="/" class="text-light">Inicio</a>
              </li>
              <li class="mx-2 text-center">
                <a href="/" class="text-light">Contacto</a>
              </li>
              <li class="mx-2 text-center">
                <a href="/" class="text-light">Productos</a>
              </li>
              <li class="mx-2 text-center">
                <a href="/" class="text-light">Terminos y condiciones</a>
              </li>
              <li class="mx-2 text-center">
                <a href="/" class="text-light">Nosotros</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-12">
            <p class="mb-0 text-center">
              © 2024 Tu Empresa. Todos los derechos reservados.
            </p>
          </div>
        </div>
      </div>
    </footer>