<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <script src="https://kit.fontawesome.com/2713da336e.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <title>SSalmos</title>
    <style>
      body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
      }
      footer {
        margin-top: auto;
      }
    </style>
</head>