<header class="container flex-grow-0 p-2 border-bottom">
    <div class="row align-items-center">
        <div class="col-12 col-md-4 text-md-left text-center mb-2 mb-md-0">
            <h1 class="text-dark display-4 font-weight-bold font-italic">SSalmos</h1>
        </div>
        <div class="col-12 col-md-4 mb-2 mb-md-0">
            <input type="text" class="form-control" placeholder="Buscar...">
        </div>
        <div class="col-12 col-md-4 text-md-right text-center">
            <a href="/users/register" class="btn btn-outline-primary mr-2">Registrarse</a>
            <a href="/users/login" class="btn btn-outline-success">Iniciar sesión</a>
        </div>
    </div>
</header>