<div class="card">
    <div class="card-header bg-success text-white">Usuarios</div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>ID</th>
              <th>Usuario</th>
              <th>Correo Electrónico</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <% users.forEach(user => { %>
            <tr>
              <td><%= user.id %></td>
              <td><%= user.name %></td>
              <td><%= user.email %></td>
              <td>
                <button class="btn btn-sm btn-info" onclick="location.href='/users/profile'"><i class="fa-regular fa-pen-to-square"></i></button>
                <button class="btn btn-sm btn-primary" onclick="location.href='/users/profile'"><i class="fa-solid fa-circle-info"></i></button>
                <button class="btn btn-sm btn-danger" onclick="location.href='/users/profile'"><i class="fa-solid fa-trash"></i></button>
              </td>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  