<!DOCTYPE html>
<html lang="es">
  <%- include('./partials/head.ejs') %>
  <body class="d-flex flex-column full-height">
    <%- include('./partials/header.ejs') %>

    <main class="container flex-grow-1 py-4">
      <h2>Editar Perfil</h2>
      <form>
        <div class="form-group">
          <label for="firstName">Nombre</label>
          <input type="text" class="form-control" id="firstName" name="firstName" value="Silvia">
        </div>
        <div class="form-group">
          <label for="lastName">Apellido</label>
          <input type="text" class="form-control" id="lastName" name="lastName" value="Ponce">
        </div>
        <div class="form-group">
          <label for="username">Usuario</label>
          <input type="text" class="form-control" id="username" name="username" value="silviaponce2024">
        </div>
        <button type="button" class="btn btn-primary" onclick="location.href='/users/profile'">Guardar cambios</button>
        <button type="button" class="btn btn-secondary" onclick="location.href='/users/profile'">Volver</button>
      </form>
    </main>

    <%- include('./partials/footer.ejs') %>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>