<!DOCTYPE html>
<html lang="es">
  <%- include('./partials/head.ejs') %>
  <body class="d-flex flex-column full-height">
    <%- include('./partials/header.ejs') %>
    <main class="container flex-grow-1 py-4">
      <form>
        <div class="form-group">
          <label for="usuario">Usuario</label>
          <input
            type="text"
            class="form-control"
            id="usuario"
            placeholder="Usuario"
          />
        </div>
        <div class="form-group">
          <label for="contraseña">Contraseña</label>
          <input
            type="password"
            class="form-control"
            id="contraseña"
            placeholder="Contraseña"
          />
        </div>
        <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
      </form>
    </main>

    <%- include('./partials/footer') %>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
