<!DOCTYPE html>
<html lang="es">
<head>
  <%- include('./partials/head.ejs') %>
</head>
<body class="d-flex flex-column full-height">
  <%- include('./partials/header.ejs') %>

  <main class="container flex-grow-1 py-4">
    <p><b>Nosotros</b>
        <br>
        <br>
        Bienvenidos a [Nombre de tu Marca], donde la pasión por el deporte y el estilo se encuentran. Somos una marca de ropa deportiva dedicada a producir y vender prendas de la más alta calidad, diseñadas para potenciar tu rendimiento y mantenerte a la vanguardia de la moda deportiva.
        <br>
        <br>
        <b>Nuestra Misión</b>
        <br>
        En [Nombre de tu Marca], nuestra misión es inspirar a las personas a alcanzar su máximo potencial, brindándoles ropa deportiva que combine funcionalidad, comodidad y estilo. Creemos que el deporte es más que una actividad física; es un estilo de vida, una fuente de bienestar y una manera de conectar con uno mismo y con los demás.
        <br>
        <br>
        <b>Nuestros Valores</b>
        <br>
        Calidad: Utilizamos materiales de alta calidad y técnicas de producción avanzadas para crear prendas duraderas y eficientes.
        <br>
        Innovación: Estamos constantemente buscando nuevas tecnologías y tendencias para ofrecer productos que mejoren el rendimiento y la experiencia de nuestros clientes.
        <br>
        Sostenibilidad: Nos comprometemos con prácticas responsables y sostenibles, minimizando nuestro impacto ambiental a través de procesos de producción ecológicos y materiales reciclables.
        <br>
        Comunidad: Valoramos a nuestra comunidad de atletas, entrenadores y entusiastas del deporte. Nos esforzamos por crear un entorno inclusivo y de apoyo, donde todos puedan prosperar.
        <br>
        <br>
        <b>Nuestra Historia</b>
        [Nombre de tu Marca] nació de la pasión por el deporte y la necesidad de ropa deportiva que no solo fuera funcional, sino también moderna y accesible. Desde nuestros humildes comienzos, hemos crecido hasta convertirnos en una marca reconocida por su dedicación a la calidad y el estilo. Cada prenda que diseñamos refleja nuestro compromiso con la excelencia y nuestro amor por el deporte.
        <br>
        <br>
        <b>Nuestro Compromiso</b>
        <br>
        Estamos comprometidos con la satisfacción de nuestros clientes y con la creación de una experiencia de compra excepcional. Desde el diseño hasta la entrega, cada paso del proceso está pensado para ofrecerte lo mejor. Queremos que te sientas seguro y motivado con nuestra ropa, ya sea que estés en el gimnasio, en una competencia o disfrutando de tu deporte favorito al aire libre.
        <br>
        <br>
        Gracias por elegir [Nombre de tu Marca]. Únete a nuestra comunidad y descubre la diferencia que hace la ropa deportiva de calidad.</p>
  </main>
      <!-- Botón de WhatsApp -->
<a href="https://wa.me/1139005157" class="whatsapp-button" target="_blank">
  <img src="/images/icon_whatsapp.png" alt="WhatsApp">
</a>
  <%- include('./partials/footer.ejs') %>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>