<!DOCTYPE html>
<html lang="es">
<head>
  <%- include('./partials/head.ejs') %>
</head>
<body class="d-flex flex-column full-height">
  <%- include('./partials/header.ejs') %>

  <main class="container flex-grow-1 py-4">
    <p>
        <b>Términos y Condiciones</b>
        <br>
        <br>
        Bienvenida/o a SSalmos!
        <br>
        <br>
        Estos términos y condiciones describen las reglas y regulaciones para el uso del sitio web de SSalmos, ubicado en http://localhost:3000.
        <br>
        <br>
        Al acceder a este sitio web, asumimos que aceptas estos términos y condiciones. No continúes usando SSalmos si no estás de acuerdo con todos los términos y condiciones establecidos en esta página.
        <br>
        <br>
        <b>Cookies</b>
        <br>
        Utilizamos cookies. Al acceder a SSalmos, aceptaste utilizar cookies de acuerdo con la política de privacidad de SSalmos.
        <br>
        <br>
        <b>Licencia</b>
        <br>
        A menos que se indique lo contrario, SSalmos y/o sus licenciantes poseen los derechos de propiedad intelectual de todo el material en SSalmos. Todos los derechos de propiedad intelectual están reservados. Puedes acceder a esto desde SSalmos para tu uso personal sujeto a las restricciones establecidas en estos términos y condiciones.
        <br>
        <br>
        <b>No debes:</b>
        <br>
        Copiar o republicar material de SSalmos
        Vender, alquilar o sublicenciar material de SSalmos
        Reproducir, duplicar o copiar material de SSalmos
        Redistribuir contenido de SSalmos
        Comentarios y Opiniones
        Partes de este sitio web ofrecen a los usuarios la oportunidad de publicar e intercambiar opiniones e información en ciertas áreas del sitio web. SSalmos no filtra, edita, publica ni revisa los comentarios antes de su presencia en el sitio web. Los comentarios no reflejan las opiniones y puntos de vista de SSalmos, sus agentes y/o afiliados. Los comentarios reflejan los puntos de vista y opiniones de la persona que publica sus puntos de vista y opiniones. En la medida permitida por las leyes aplicables, SSalmos no será responsable de los comentarios ni de ninguna responsabilidad, daños o gastos causados y/o sufridos como resultado de cualquier uso y/o publicación y/o apariencia de los comentarios en este sitio web.
        <br>
        <br>
        SSalmos se reserva el derecho de monitorear todos los comentarios y eliminar cualquier comentario que pueda ser considerado inapropiado, ofensivo o que cause incumplimiento de estos Términos y Condiciones.
        <br>
        <br>
        <b>Enlaces a Otros Sitios Web</b>
        <br>
        Nuestro servicio puede contener enlaces a sitios web o servicios de terceros que no son propiedad ni están controlados por SSalmos. SSalmos no tiene control sobre, y no asume ninguna responsabilidad por, el contenido, las políticas de privacidad o las prácticas de sitios web o servicios de terceros. Además, reconoces y aceptas que SSalmos no será responsable, directa o indirectamente, de ningún daño o pérdida causados o supuestamente causados por o en conexión con el uso de o confianza en dichos contenidos, bienes o servicios disponibles en o a través de dichos sitios web o servicios.
        <br>
        <br>
        <b>Cambios</b>
        <br>
        Nos reservamos el derecho, a nuestra sola discreción, de modificar o reemplazar estos Términos en cualquier momento. Si una revisión es material intentaremos proporcionar al menos 30 días de aviso antes de que entren en vigor los nuevos términos. Lo que constituye un cambio material será determinado a nuestra sola discreción.
        <br>
        <br>
        <b>Contacto</b>
        <br>
        Si tienes alguna pregunta sobre estos Términos, por favor contáctanos en <b>ssalmos.ventas@gmail.com</b></p>
  </main>
      <!-- Botón de WhatsApp -->
<a href="https://wa.me/1139005157" class="whatsapp-button" target="_blank">
  <img src="/images/icon_whatsapp.png" alt="WhatsApp">
</a>
  <%- include('./partials/footer.ejs') %>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>